:root{
    --main-font: sans-serif;
    --white: #fff;
    --black: #000;
    --borderblue: #6caed5;
    --resumebg: #f9f9f9;
    --darkgrey: #555;
    --lightgrey: #ccc;
    --servboxtext: #777;
    --red: red;
}

